# Rust proxy
OSM_LISTEN_ADDR=127.0.0.1:9178
OSM_ID_DIST_DIR=../dist
# Register this callback: http://127.0.0.1:9178/id/land.html
OSM_OAUTH_CLIENT_ID=ASM8cOEBbmYIZG89l1Xagbx037aD7fc49t_TcEGU8SU

# Server-side providers
DEEPSEEK_API_KEY=
BING_TRANSLATE_API_KEY=
BING_TRANSLATE_REGION=global
